@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

*{
    font-family:'Poppins', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
     background : linear-gradient(50.15deg, #2F2325 15%  , #114264 85.61%); 
    /* background-image: url(https://i.pinimg.com/originals/4b/41/3e/4b413e0e9d0ae709acf4b273a3f79e57.jpg);
    background: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

#imgLogo {
    margin-top: 15px;
}

.nav {
    width: 95%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    background-color: #0000004b;
}

.header .nav {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ebe1e9;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ebe1e9;
}

li {
    margin-right: 20px;
    /* margin-left: 20px; */
}

a {
    transition: all ease-in .3s;
}

a:hover {
    border-bottom: 3px solid #1972b2;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    /* box-shadow: 10px 10px 15px rgb(35, 35, 35); */
    border-radius: 15px;
    width: 10vh;
    height: 30px;
    color: white;
}

.login:hover,
.cad:hover {
    background-color: #cf2b46;
    color: white;
    transition: all .4s ease-in-out;
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    /* box-shadow: 10px 10px 15px rgb(35, 35, 35); */
    border-radius: 15px;
    width: 17vh;
    height: 30px;
    color: white;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    color: #ebe1e9;
    width: fit-content;
    font-weight: 500;
}

.container1 {
     display: flex; 
    width: 100%;
    height: 30vh;
    justify-content: center;
  margin-top: 3vh;

}
.metricaTemperatura{
width: 80vh;
height: 5vw;
box-shadow: 20px 20px 30px rgb(35, 35, 35);


}
.metricaUmidade{
width: 80vh;
height: 5vw;
box-shadow: 20px 20px 30px rgb(35, 35, 35);

}
.container4 {
    display: flex; 
   width: 100%;
   height: 10vh;
   margin-top: 5vh;
   justify-content: center;
 

}


.tituloMetricaPrincipal{
    display: flex;
    justify-content: center;
   
      color: whitesmoke;
      font-size: xx-large;
  }


  .tituloMetrica{
    
      color: whitesmoke;
      font-size: xx-large;
  }

.cardMetricaCriticoTemp{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
 color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
   margin-right: 26vh;
    border: 5px solid rgb(255, 0, 0) ;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaCriticoUmi{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
 color: whitesmoke;
    border-radius: 25px; 
    margin-left: 3vh;
    margin-right: 20vh;
    border: 5px solid rgb(255, 0, 0) ;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaCriticoAbaixoTemp{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
 color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid rgb(54, 44, 238);
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaIdealTemp{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid  rgb(22, 165, 22); 
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}

.cardMetricaAlertaTemp{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh; 
    border: 5px solid rgb(253, 245, 0);
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaAlertaAbaixoTemp{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid rgb(63, 151, 210) ;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaCriticoAbaixoUmi{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
 color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid rgb(54, 44, 238);
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaIdealUmi{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid  rgb(22, 165, 22); 
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}

.cardMetricaAlertaUmi{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid rgb(253, 245, 0);
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.cardMetricaAlertaAbaixoUmi{
    display: flex;
    justify-content: center;
    text-align: center ;
   width: 20vh ;
    height: 6vh ;
    color: whitesmoke;
    border-radius: 25px;
    margin-left: 3vh;
    border: 5px solid rgb(63, 151, 210);
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}


.container2 {
    display: flex;
    width: 100%;
    margin-top: 5vh;
    justify-content: space-around;

}


.container3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5vh;

}

.card1 {
    border: 5px solid rgb(255, 0, 0);
    margin-top: 10vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 10rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}
.card2 {
    border: 5px solid  rgb(146, 208, 80);
    margin-top: 10vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 10rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}
.card3 {
    border: 5px solid  rgb(54, 44, 238);
    margin-top: 10vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 10rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}
.card4 {
    border: 5px solid rgb(255, 255, 0);
    margin-top: 10vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 10rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: large;
    font-style: oblique;
    font-weight: 700;
}

.cardAlerta {
    background-color: rgb(255, 0, 0);
     justify-content: center;
   text-align: center;
    margin-top: 5vh;
   
    width: 32rem;
    height: 12rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: large;
    font-weight: 700;
  color: whitesmoke;
    font-style: oblique; 
   
}
.conteudo1{
    margin-top: 5vh;
    
    color: whitesmoke;
}
.porcentagem1{
    font-size: 4vh;
    color: rgb(255, 0, 0);
}
.porcentagem2{
    font-size: 4vh;
    color: rgb(146, 208, 80);
}
.porcentagem3{
    font-size: 4vh;
    color: rgb(54, 44, 238);
}
.porcentagem4{
    font-size: 4vh;
    color: rgb(255, 255, 0);
}
.tituloTabela{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: xx-large;
}







/* Alarme */
#alerta {
    position: fixed;
    right: 0px;
  }
  
  .mensagem-alarme {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mensagem-alarme h3 {
    font-size: 14px;
    margin: 0;
  }
  
  .mensagem-alarme .informacao {
    margin: 10px;
  }
  
  .alarme-sino {
    width: 48px;
    height: 48px;
    animation-name: bell;
    animation-duration: 4s;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
    background-size: cover;
    animation-iteration-count: infinite;
  }
  
  @keyframes bell {
    0%   {transform: rotate(25deg)}
    25%  {transform: rotate(-25deg)}
    50%  {transform: rotate(25deg)}
    75%  {transform: rotate(-25deg)}
    100% {transform: rotate(25deg)}
  }