@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(50.15deg,#2F2325 15% , #114264 85.61%);
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background: rgba(0,0,0, 0.2);
  }
  
::-webkit-scrollbar-thumb {
    background-color: #cf2b46;
    border-radius: 20px;
  }

/* NAVBAR */
#imgLogo {
    margin-top: 15px;
}

.nav {
    width: 95%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    background-color: #0000004b;
}

.header .nav {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ebe1e9;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ebe1e9;
}

a {
    transition: all .3s ease-out ;
}

a:hover {
    border-bottom: 3px solid #1972b2;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    /* box-shadow: 10px 10px 15px rgb(35, 35, 35); */
    border-radius: 15px;
    width: 10vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    /* box-shadow: 10px 10px 15px rgb(35, 35, 35); */
    border-radius: 15px;
    width: 17vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.login:hover, .cad:hover {
    background-color: #cf2b46;
    color: white;
    
}


.titulo{
    text-align: center;
    font-size:50px;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span_input{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    font-size: 20px;
}
input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    
    font-size: 18px;
    color: rgb(0, 43, 71);
    text-align: center;
}
.btn_calculoPerda{
    width: 300px;
    height: 40px;

    background-color: rgb(12, 54, 109);
    color: rgb(91, 147, 221);

    font-size: 18px;
    font-weight: bold;
    
    border: 1px solid rgb(110, 163, 250);
    border-radius: 20px;
}
.div_mensagem{
    text-align: center;
     
    color:rgb(255, 255, 255);
}
.resultados{
    width: 40vh;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
    border: 5px solid rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
}

.resultados2{
    width: 40vh;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
    border: 5px solid rgb(255, 173, 9);
    padding: 10px;
    border-radius: 20px;
}
.resultados3{
    width: 40vh;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
    border: 5px solid rgb(252, 249, 64);
    padding: 10px;
    border-radius: 20px;
}
.mensagem1{
    font-size:22px;
}
.destaque{
    font-size:24px;
}
.adquira{
    font-size: 40px;
    font-weight: bold;
}
.texto_contrate{
    font-size: 22px;
}
.diagrama{
    font-size: 28px;
}
.maior1{
    font-size:26px;
    color: red;
}
.maiorCor1{
    font-size:30px;
    color: red;
}

.maior2{
    font-size:26px;
    color: orange;
}
.maiorCor2{
    font-size:30px;
    color: orange;
}

.maior3{
    font-size:26px;
    color: yellow;
}
.maiorCor3{
    font-size:30px;
    color: yellow;
}
#porcentagem1{
    font-size: 26px;
    color: red;
}

#porcentagem2{
    font-size: 26px;
    color: orange;
}

#porcentagem3{
    font-size: 26px;
    color: yellow;
}
.maiorVermelho{
    font-size: 26px;
    color:rgb(212, 53, 53);
}
#mensagem_porcentagem{
    font-size: 20px;
    
}

.modificar {
    display: flex;
   
}

.resultadocor {
    color:whitesmoke;
}

.resultadocor2 {
    color:whitesmoke;
}
.resultadocor3 {
    color:whitesmoke;
}