@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(50.15deg, #2F2325 15%, #114264 85.61%);
    /* background-image: url(https://i.pinimg.com/originals/4b/41/3e/4b413e0e9d0ae709acf4b273a3f79e57.jpg);
    background: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

#imgLogo {
    margin-top: 15px;
}

.nav {
    width: 95%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    background-color: #0000004b;
}

.header .nav {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ebe1e9;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ebe1e9;
}

li {
    margin-right: 20px;
    /* margin-left: 20px; */
}

a {
    transition: all ease-in .3s;
}

a:hover {
    border-bottom: 3px solid #1972b2;
}

.container1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25vh;

}

.titulo1 {
    color: aqua;
    margin-left: 43%;
}

.card1 {
    border: 5px solid whitesmoke;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    width: 25rem;
    height: 5rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: larger;
    color: aqua;
    font-weight: 700;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 80vh;
   
}

.card2 {
    border: 5px solid whitesmoke;
margin-left: 30vh;
    justify-content: center;
    text-align: center;
    width: 25rem;
    height: 5rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: larger;
    color: aqua;
    font-weight: 700;
}

.titulo2 {
    color: aqua;
 
}
.containerTitulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 80vh;
   
}
.containerGeral{
    display: flex;
    flex-direction: row;
}

.card3 {
    border: 5px solid whitesmoke;
margin-left: 27vh;
    justify-content: center;
    text-align: center;
    width: 30rem;
    height: 10rem;
    box-shadow: 20px 20px 30px rgb(35, 35, 35);
    border-radius: 25px;
    font-size: larger;
    color: aqua;
    font-weight: 700;
}
.containerBut{
display: flex;
justify-content: flex-end;
margin-top: 2vh;
margin-right: 20vh;
}
.button{ 
     border-radius: 25px;
    width: 20vh;
    height: 60px;
    /* margin-top: 2%; */
    font-family: 'Poppins', sans-serif;
    box-shadow: 10px 10px 15px rgb(35, 35, 35);
    background-color: #1972b2;
    color: white;
    font-size: larger;
}